aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
amqp
annotated-types
anyio
appdirs
APScheduler
ascii_magic
asgiref
async-timeout
attrs
billiard
cachetools
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
cryptography
defusedxml
distlib
distro
Django
django-cors-headers
django-mathfilters
django_celery_results
djangorestframework
djangorestframework_simplejwt
djoser
drf-spectacular
drf-yasg
exceptiongroup
filelock
frozenlist
geographiclib
geopy
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
googleapis-common-protos
grpcio
grpcio-status
gunicorn
h11
httpcore
httplib2
httpx
idna
inflection
jsonschema
jsonschema-specifications
kombu
magic-filter
multidict
oauthlib
packaging
Pillow
pipenv
platformdirs
prompt_toolkit
propcache
proto-plus
protobuf
psycopg2
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
PyJWT
pyotp
pyparsing
python-dateutil
python-dotenv
python-telegram-bot
python3-openid
pytz
PyYAML
redis
referencing
requests
requests-oauthlib
rpds-py
six
sniffio
social-auth-app-django
social-auth-core
sqlparse
syncio
tenacity
tornado
tqdm
typing-inspection
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
vine
virtualenv
virtualenv-clone
wcwidth
websockets
whitenoise
yarl
zipp